#sound-box{
	margin: 0	auto; 
}
.section-soundbox{
    display : grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px;
}
.modal-soundbox{
  .modal-content{
    width:380px;
    .modal-header{
      text-align: center;
      margin: 0 auto;
    }

    .title-character-modal{
      color:black;
      padding-top:20px; 

    }
    .picture-character-modal{
      object-fit: cover;
      height: 150px;
      width: 150px;
      z-index: 2;
    }
    .sound-list{
      padding: 0;
      height:300px;
      overflow-y:scroll;
      .sound-item{
        margin-bottom: 5px;
      }
    }
}
.section-soundboxes{
  
.title-character{
    color:black;
    padding-top: 20px;
  }
}
  img{
    width: 65%;
    height: 40%;
  }
 
	.picture-character{
		border-radius: 30px/10px;
    z-index: 2;
    object-fit: cover;
	}
	li{
		width: auto;
		button{
			width: 100%;
			
		}
	}

	
}
.btnn {
position: absolute;
  color: #000;
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  bottom: 0;
  left: 0;
   @media(min-width: 400px) {
     display: inline-block;
     margin-right: 2.5em;
     &:nth-of-type(even) {
      margin-right: 0;
     }
   }

  &:hover { text-decoration: none; }
}

@media only screen and (min-width: 481px) {
  .modal-content{
    width:500px;
  }
}
@media only screen and (min-width: 768px) {
  .section-soundbox{
    grid-template-columns:  repeat(4, 1fr);
  }
}
