#sound-box{
	margin: 0	auto; 
}
.box{
	
	text-align: center;
	position: relative;

	img{
		
	}
	.title-character{
		color: $grey;
	}
	.picture-character{

		width: 75%;
		height: 60%;
		border-radius: 30px/10px;
		z-index: 2;
		}
		
}

.modal-box{


	text-align: center;
	.sound-list{
		padding: 0;
		height:300px;
		overflow-y:scroll;
		.sound-item{
			margin-bottom: 5px;
		}
	}
	
	img{
		width: 65%;
		height: 40%;
	}
	.picture-character{

	
		border-radius: 30px/10px;
		z-index: 2;
	}
	li{
		width: auto;
		button{
			width: 100%;
			
		}
	}

	
}
.btnn {
position: absolute;
  color: #000;
  cursor: pointer;
  // display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  bottom: 0;
  left: 0;
   @media(min-width: 400px) {
     display: inline-block;
     margin-right: 2.5em;
  
     &:nth-of-type(even) {
      margin-right: 0;
     }
   }
  
  @media(min-width: 600px) {
      
    margin: 0 1em 2em;
  
     &:nth-of-type(even) {
       margin-right: 2.5em;
     }
    
     &:nth-of-type(5) {
       margin-right: 0;
     }
    
  }
  
  &:hover { text-decoration: none; }
  
}

.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#000, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #000;
  transition: width 280ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

	/*.btn-lol{

	}
	.btn-open{
		position: absolute;
		width: 100%;
		height: 30px;
		bottom: 0;
		left: 0;
		 background: rgba(#000, 0);
    	border-bottom: 1px solid;
    	color: #000;
   		line-height: 1.4;
    	padding: .25em;
    
    
	    &:hover {
	      background: rgba(#000, 1);
	      color: $red;
	    }
	}*/
	
